
@using SSRSEmailForm.Models
@model SSRSEmailForm.Models.TestViewModel

@{
    ViewBag.Title = "Project Request Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="/Images/Reserved.ReportViewerWebControl.png" height=50/>
<h2>@ViewBag.Title</h2>
<p class="text-info">
    Please provide the following information: 
</p>

<div class="row">
    <div class="col-md-8">
        <section id="submit-form">
            @*This line is doing ... *@
            @using (Html.BeginForm("Test", "Inquiry", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*This line is doing ...*@
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @*This line is doing ...*@
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Context, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Context, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Problem, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Problem, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Goal, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Goal, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ReportLink, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ReportLink, new { @class = "form-control" })
                    </div>
                </div>             
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>